In [2]:
set1 = set(range(10))
set2 = {1, 2, 3, 5, 7 ,11, 13, 17, 19, 23}

> Union does not affects the sets them self different to add

In [3]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 23}

In [4]:
set1|set2 #it can be used for union too

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 23}

In [5]:
set1.difference(set2)

{0, 4, 6, 8, 9}

In [6]:
set2.difference(set1)

{11, 13, 17, 19, 23}

In [7]:
set1 - set2

{0, 4, 6, 8, 9}

In [8]:
set2 - set1

{11, 13, 17, 19, 23}

> ^ used for difference of both sets

In [9]:
set1 ^ set2

{0, 4, 6, 8, 9, 11, 13, 17, 19, 23}

In [10]:
set1.symmetric_difference(set2)

{0, 4, 6, 8, 9, 11, 13, 17, 19, 23}

In [11]:
set1.intersection(set2)

{1, 2, 3, 5, 7}

In [12]:
set1 & set2

{1, 2, 3, 5, 7}

In [13]:
COURSES = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}

def covers(arg):
    hold = []
    for key, value in COURSES.items():
        if value & arg:
            hold.append(key)
    return hold
covers({'Ruby'})

['Ruby Basics']

In [20]:
set3 = {1, 2, 3, 4}
set4 = {1, 2, 5}
set4 - set3 == set()

False

In [25]:
COURSES = {
    "Python Basics": {"Python", "functions", "variables",
                      "booleans", "integers", "floats",
                      "arrays", "strings", "exceptions",
                      "conditions", "input", "loops"},
    "Java Basics": {"Java", "strings", "variables",
                    "input", "exceptions", "integers",
                    "booleans", "loops"},
    "PHP Basics": {"PHP", "variables", "conditions",
                   "integers", "floats", "strings",
                   "booleans", "HTML"},
    "Ruby Basics": {"Ruby", "strings", "floats",
                    "integers", "conditions",
                    "functions", "input"}
}

def covers_all(arg):
    hold = []
    for key, value in COURSES.items():
        
        print(arg - value)
        if arg - value == set():
            hold.append(key)
    return hold

print(covers_all({"conditions", "input"}))

set()
{'conditions'}
{'input'}
set()
['Python Basics', 'Ruby Basics']

In [1]:
set("oklahoma") & set("ohio")

{'h', 'o'}